{% extends "auth_layout.html" %}
{% block title %}Login{% endblock %}
{% block form %}Login{% endblock %}
{% block name %}
    <div class="input">
        <input type="text" name="username" required>
        <span></span>
        <label>Username / E-mail</label>
    </div>
{% endblock %}
{% block details %}
    <div class="warning">
        {{ warning }}
    </div>
    <input type="submit" value="Login">
    <div class="signup_link">
        No Account?<a href="/sign_up"> Signup</a>
    </div>
{% endblock %}